<!DOCTYPE html>
<html>
<head>
    <title>William O'Gara</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <script src="https://use.fontawesome.com/6ccaa52e2a.js"></script>     
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>


<nav  class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
  <span class="navbar-brand">William O'Gara - Fullstack SWE</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="https://github.com/wogara" target="_blank"><i class="fa fa-github" aria-hidden="true"></i><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://linkedin.com/in/williamogara/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mailto:weogara@gmail.com" target="_blank"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
      </li>
    </ul>
    <span class="navbar-text">
    </span>
  </div>
</nav>

    <div class = "container pt-5">
        <div class = "row">
            <div class = "col-12">
                <div class="jumbotron text-center">
                    <h1 class="display-4">MOVIE APPLICATION</h1>
                    <p class="lead">This is a fullstack RESTful application where users can post and comment on their favorite movies. The backend is NodeJS with MongoDB as a database. I also used the Bootstrap4 library on the frontend.</p>
                    <hr class="my-4">
                    <p>NodeJS, Javascript, CSS, HTML, MongoDB, Express, Passport (NPM package for authentication)</p>
                    <img src = "img/moviereview.png" class = "img-fluid">

                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="https://william-ogara-movie-app.herokuapp.com" target="_blank" role="button">Demo</a>
                        <a class="btn btn-success btn-lg" href="https://github.com/wogara/movieReview" target="_blank" role="button">Source Code</a>
                    </p>
</div>

            </div>
        </div>





        <div class = "row">
            <div class = "col-12">
                <div class="jumbotron text-center">
                    <h1 class="display-4">BLOG APPLICATION</h1>
                    <p class="lead">This is a fullstack RESTful application where users anybody can post a blog about whatever topic they want. The backend is NodeJS with MongoDB as a database. I also used the Bootstrap4 library on the frontend.</p>
                    <hr class="my-4">
                    <p>NodeJS, MongoDB, Javascript, CSS, HTML, Express</p>
                    <img src = "img/blog.png" class = "img-fluid">

                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="https://william-ogara-blog-app.herokuapp.com" target="_blank" role="button">Demo</a>
                        <a class="btn btn-success btn-lg" href="https://github.com/wogara/blogApp" target="_blank" role="button">Source Code</a>
                    </p>
</div>

            </div>
        </div>

        <div class = "row">
            <div class = "col-12">
                <div class="jumbotron text-center">
                    <h1 class="display-4">PATATAP APPLICATION</h1>
                    <p class="lead">This is a frontend application based offf patatap. Try it out! (tap your keyboard) *NOISE WARNING*</p>
                    <hr class="my-4">
                    <p>JavaScript, HTML, CSS</p>
                    <img src = "img/patatap.png" class = "img-fluid">

                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="/patatap" target="_blank" role="button">Demo</a>
                        <a class="btn btn-success btn-lg" href="https://github.com/wogara/patatap-clone" target="_blank" role="button">Source Code</a>
                    </p>
                </div>

            </div>
        </div>


        <div class = "row">
            <div class = "col-12">
                <div class="jumbotron text-center">
                    <h1 class="display-4">COLORGAME APPLICATION</h1>
                    <p class="lead">This is a frontend application where users guess a color based on its RGB values.</p>
                    <hr class="my-4">
                    <p>JavaScript, HTML, CSS</p>
                    <img src = "img/colorgame.png" class = "img-fluid">
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="/colorgame" target="_blank" role="button">Demo</a>
                        <a class="btn btn-success btn-lg" href="https://github.com/wogara/guess-the-color" target="_blank" role="button">Source Code</a>
                    </p>
                </div>

            </div>
        </div>

    </div>

<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script type = "text/javascript" src = "/javascript/bootstrap.js"></script>
    
</body>
</html>
