<!DOCTYPE html>
<html>
<head>
    <title>William O'Gara</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <script src="https://use.fontawesome.com/6ccaa52e2a.js"></script>     
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>


<nav  class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
  <span class="navbar-brand">William O'Gara - Fullstack SWE</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="https://github.com/wogara" target="_blank"><i class="fa fa-github" aria-hidden="true"></i><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://linkedin.com/in/williamogara/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item">
        <a id = "email" class="nav-link" href="mailto:weogara@gmail.com" target="_blank">weogara@gmail.com</a>
      </li>
    </ul>
    <span class="navbar-text">
    </span>
  </div>
</nav>

    <div class = "container pt-5">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron text-center">
                    <h1 class="display-4"><strong>Internet Speed Test Tool for Statewide Digital Equity Analysis</strong></h1>
                    <p class="lead">Client: HR&A Advisors</p>
                    <hr class="my-4">
                    <p>Technologies: Node.js, Express, JavaScript, CSS, HTML, MySQL, AWS EC2, AWS S3</p>
                    <img src="img/speedtest.png" class="img-fluid" alt="Internet Speed Test Project Screenshot">
        
                    <div class="text-left mt-4">
                        <p>In collaboration with HR&A Advisors, I spearheaded the development of an internet speed testing tool as part of a significant statewide initiative. This ambitious project was designed to analyze and enhance digital equity across several states, contributing substantially to the broader goal of digital inclusivity.</p>
                        
                        <p class="mt-2"><strong>Key Contributions:</strong></p>
                        <ul>
                            <li>Developed a speed test using ndt7 protocol from M-Lab.</li>
                            <li>Implemented data storage and management in MySQL and AWS S3.</li>
                            <li>Engineered an efficient user interface within a single HTML document using advanced techniques.</li>
                        </ul>
                        
                        <p class="mt-2">This tool was pivotal in a statewide survey initiative, utilized across multiple states with thousands of respondents. It played a crucial role in identifying disparities in internet access and informing policy decisions aimed at bridging the digital divide.</p>
                        <p class="mt-2">Due to the proprietary nature of this project, the source code is not publicly available. This ensures the confidentiality and integrity of the specialized solutions provided to the client. This site has been removed.</p>
                    </div>
        
                    <p class="lead pt-2">
                        <a class="btn btn-primary btn-lg" href="https://speedtest.hraadvisors.com" target="_blank" role="button">Visit Website</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="jumbotron text-center">
                    <h1 class="display-4"><strong>Development of Multilingual Public Comment Form for the Texas Broadband Office</strong></h1>
                    <p class="lead">Client: Texas Broadband Office</p>
                    <hr class="my-4">
                    <p>Technologies: Node.js, Express, JavaScript, CSS, HTML, MySQL, AWS EC2, AWS S3, Airtable</p>
                    <img src="img/texas.png" class="img-fluid" alt="Public Comment Form Project Screenshot">
        
                    <div class="text-left mt-4">
                        <p>In collaboration with the Texas Broadband Office, I played a vital role in the Texas Digital Opportunity Plan by creating an interactive public comment platform. This platform was crucial in collecting citizen feedback to enhance digital connectivity across the state.</p>
                        
                        <p class="mt-2"><strong>Key Contributions:</strong></p>
                        <ul>
                            <li>Enhanced the platform's accessibility by implementing a bilingual user interface, leveraging the <code>data-i18n-key</code> attribute for dynamic content translation in both English and Spanish.</li>
                            <li>Developed a user-friendly public comment form utilizing Node.js, Express, HTML, and CSS.</li>
                            <li>Efficiently managed data storage by integrating MySQL and Airtable, ensuring streamlined data processing and analysis.</li>
                            <li>Set up AWS S3 for the secure handling and storage of submitted documents.</li>
                            <li>Devised an automated email confirmation system to engage and reassure users upon successful submission.</li>
                        </ul>
                        
                        <p class="mt-2">This multifaceted platform was a cornerstone of the statewide initiative, allowing for the effective gathering of insights from thousands of participants. It played an instrumental role in encouraging public participation and informing the development of digital policies and strategies in Texas.</p>
                        <p class="mt-2">Due to the proprietary nature of this project, the source code is not publicly available. The project has since closed, and the site has been taken down.</p>
                    </div>
        
                </div>
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-12">
                <div class="jumbotron text-center">
                    <h1 class="display-4"><strong>Website Development for Drip Drop Apparel</strong></h1>
                    <p class="lead">Client: Drip Drop Apparel</p>
                    <hr class="my-4">
                    <p>Technologies: JavaScript, HTML, CSS, MongoDB, Node.js, Express, Google Sheets API, Gmail API, Payment Processing Integration</p>
                    <img src="img/dripdrop.png" class="img-fluid" alt="Drip Drop Apparel Website Screenshot">
        
                    <div class="text-left mt-4">
                        <p>I had the exciting opportunity to develop a comprehensive e-commerce website for Drip Drop Apparel, a fashion-forward clothing company. The project involved creating a platform that was not only visually appealing but also rich in features to enhance user experience and streamline the company's operations.</p>
                        
                        <p class="mt-2"><strong>Key Features & Contributions:</strong></p>
                        <ul>
                            <li>Implemented secure payment processing to ensure safe and convenient transactions for customers.</li>
                            <li>Integrated Google Sheets API for real-time order tracking, providing customers with up-to-date information on their purchases.</li>
                            <li>Utilized MongoDB for robust data management, handling product information and inventory with efficiency.</li>
                            <li>Developed a dynamic cart functionality, enabling a seamless shopping experience for users to add and manage items.</li>
                            <li>Configured automatic email notifications using the Gmail API, keeping customers informed post-purchase.</li>
                            <li>Designed and executed a contact page to facilitate direct communication between customers and the company.</li>
                        </ul>
                        
                        <p class="mt-2">The website for Drip Drop Apparel represents a blend of aesthetic appeal with functional prowess, embodying the brand's ethos while providing a user-friendly e-commerce platform.</p>
                    </div>
        
                    <p class="lead pt-2">
                        <a class="btn btn-primary btn-lg" href="https://www.dripdropapparel.com" target="_blank" role="button">Visit Website</a>
                    </p>
                </div>
            </div>
        </div>
        
        
        <div class = "row">
            <div class = "col-12">
                <div class="jumbotron text-center">
                    <h1 class="display-4">Slack Image Uploader</h1>
                    <p class="lead text-left">
                        This a feature on MojoTech's company dashboard which allows employees to upload pictures through slack. After an image has been sent in slack, the sender 
                        receives a direct message from the slack bot asking if they'd like the image to be uploaded to the dashboard. If they click yes, the images are uploaded in
                        an Amazon S3 bucket. Six random images at a time are selected using GraphQL and displayed in a React carousel in the "Feed" tab of the website. To see for yourself, click "Visit Website" then navigate to "Feed" tab!
                    </p>
                    <hr class="my-4">
                    <p>Phoenix (Elixir) backend, React (TypeScript) frontend, Amazon S3 bucket (image storage), PostgreSQL (database), GraphQL (query language)</p>
 
                    <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RZK0OSH2dOo" title="Slack Image Uploader" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <p class="lead pt-2">
                        <a class="btn btn-primary btn-lg" href="https://mojotech-helios2.herokuapp.com/Providence" target="_blank" role="button">Visit Website</a>
                        <a class="btn btn-success btn-lg" href="https://github.com/mojotech/helios2/pulls?q=is%3Apr+author%3Awogara+is%3Aclosed+review%3Aapproved" target="_blank" role="button">Source Code</a>
 
                    </p>
                </div>

            </div>
        </div>
    
        <!-- <div class = "row">
            <div class = "col-12">
                <div class="jumbotron text-center">
                    <h1 class="display-4">REACT BURGER BUILDER</h1>
                    <p class="lead">This is a React application where users can add ingredients and order a burger. The database is linked to Google firebase. *It's a herokuapp, please allow some time to load!*</p>
                    <hr class="my-4">
                    <p>React</p>
                    <img src = "img/burger.png" class = "img-fluid">

                    <p class="lead pt-2">
                        <a class="btn btn-primary btn-lg" href="https://arcane-wave-13383.herokuapp.com/" target="_blank" role="button">Demo</a>
                        <a class="btn btn-success btn-lg" href="https://github.com/wogara/react-burger-builder" target="_blank" role="button">Source Code</a>
                    </p>
</div>

            </div>
        </div> -->




        <div class = "row">
            <div class = "col-12">
                <div class="jumbotron text-center">
                    <h1 class="display-4">MOVIE APPLICATION</h1>
                    <p class="lead">This is a fullstack RESTful application where users can post and comment on their favorite movies. The backend is Node.js with MongoDB as a database. I also used the Bootstrap4 library on the frontend. *It's a herokuapp, please allow some time to load!*</p>
                    <hr class="my-4">
                    <p>Node.js, JavaScript, CSS, HTML, MongoDB, Express, Passport (NPM package for authentication)</p>
                    <img src = "img/moviereview.png" class = "img-fluid">

                    <p class="lead pt-2">
                        <a class="btn btn-primary btn-lg" href="https://william-ogara-movie-app.herokuapp.com" target="_blank" role="button">Demo</a>
                        <a class="btn btn-success btn-lg" href="https://github.com/wogara/movieReview" target="_blank" role="button">Source Code</a>
                    </p>
</div>

            </div>
        </div>





        <div class = "row">
            <div class = "col-12">
                <div class="jumbotron text-center">
                    <h1 class="display-4">BLOG APPLICATION</h1>
                    <p class="lead">This is a fullstack RESTful application where users anybody can post a blog about whatever topic they want. The backend is NodeJS with MongoDB as a database. I also used the Bootstrap4 library on the frontend. *It's a herokuapp, please allow some time to load!*</p>
                    <hr class="my-4">
                    <p>NodeJS, MongoDB, Javascript, CSS, HTML, Express</p>
                    <img src = "img/blog.png" class = "img-fluid">

                    <p class="lead pt-2">
                        <a class="btn btn-primary btn-lg" href="https://william-ogara-blog-app.herokuapp.com" target="_blank" role="button">Demo</a>
                        <a class="btn btn-success btn-lg" href="https://github.com/wogara/blogApp" target="_blank" role="button">Source Code</a>
                    </p>
</div>

            </div>
        </div>

        <div class = "row">
            <div class = "col-12">
                <div class="jumbotron text-center">
                    <h1 class="display-4">PATATAP APPLICATION</h1>
                    <p class="lead">This is a frontend application based off patatap. Try it out! (tap your keyboard) *NOISE WARNING*</p>
                    <hr class="my-4">
                    <p>JavaScript, HTML, CSS</p>
                    <img src = "img/patatap.png" class = "img-fluid">

                    <p class="lead pt-2">
                        <a class="btn btn-primary btn-lg" href="/patatap" target="_blank" role="button">Demo</a>
                        <a class="btn btn-success btn-lg" href="https://github.com/wogara/patatap-clone" target="_blank" role="button">Source Code</a>
                    </p>
                </div>

            </div>
        </div>


        <div class = "row">
            <div class = "col-12">
                <div class="jumbotron text-center">
                    <h1 class="display-4">COLORGAME APPLICATION</h1>
                    <p class="lead">This is a frontend application where users guess a color based on its RGB values.</p>
                    <hr class="my-4">
                    <p>JavaScript, HTML, CSS</p>
                    <img src = "img/colorgame.png" class = "img-fluid">
                    <p class="lead pt-2">
                        <a class="btn btn-primary btn-lg" href="/colorgame" target="_blank" role="button">Demo</a>
                        <a class="btn btn-success btn-lg" href="https://github.com/wogara/guess-the-color" target="_blank" role="button">Source Code</a>
                    </p>
                </div>

            </div>
        </div>

    </div>

<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script type = "text/javascript" src = "/javascript/bootstrap.js"></script>
    
</body>
</html>
