body, html{
    height:100%;
    width:100%;
    background-color:black;
    font-family: 'Roboto Mono', monospace;
}
#email{
    font-size:1.5rem;
    margin-top:7px;
    color:blue;
}
.navbar {
    font-size:2rem;
}
.navbar-brand{
    font-size:2.5rem;
    font-weight:800;
}
.jumbotron{
    color:#2c3e50;
    background: #ecf0f1;
}

.navbar-inverse{
    background: #2c3e50;
}

.navbar-inverse .navbar-nav>li>a {
    color:white;
}
.navbar-inverse .navbar-brand{
    color:white;
}
.navbar-collapse.collapse.in {
  display: block!important;
}
